<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/me.jpg">
    </div>
    <div>
    <p>
       <b> Hi, I am Parth Aggarwal , final year B.Tech student at IIT Mandi.</b> 
       <br>
       <b> Welcome to my weather app. Here you can get weather details</b>
       <br>
       <b> for any location.</b>
    </p>
    </div>

    
    {{>footer}}
</body>

</html>